<?xml version="1.0"?>
<!-- Check http://radiodns1.ebu.ch/cms/ for description -->


<configuration>
  <appSettings>
    <!-- application -->
    <add key="inputMethod" value="HTTP" />
    <add key="TmpFolder" value="data\tmp\" />
    <add key="DataFolder" value="data\" />
    <!-- http -->
    <add key="httpPort" value="8080" />
    <add key="httpUrlSeparator" value="|" />
    <!-- slides-->
    <add key="broadcastdelay" value="10" />
    <add key="radiovislink" value="http://tech.ebu.ch" />
    <add key="radiovistxt" value="http://tech.ebu.ch" />
    <!-- stomp -->
    <add key="stompServer" value="193.43.93.135" />
    <add key="stompPort" value="61613" />
    <add key="stompHttpUrl" value="http://www.yourserver.com/path/radiovis/" />
    <add key="stompLogin" value="stomplogin" />
    <add key="stompPasscode" value="" />
    <add key="stompTopicCount" value="1" />
    <add key="stompTopic1" value="/topic/dab/4e1/4fff/4000/0/" />
    <!-- ftp -->
    <add key="ftpCount" value="1" />
    <add key="ftpServer1" value="ftp://www.yourserver.com/radiovis/" />
    <add key="ftpUser1" value="ftpuser" />
    <add key="ftpPwd1" value="" />
    <add key="ftpMinPeriod1" value="0" />
    <add key="ftpImageQuality" value="100" />
    <add key="slidecartprefix" value="vis-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>